p.lion{
    background-color: red;
}
.zoo > ul > .lion {
    background-color: greenyellow;
}
#tiger {
    background-color: yellow;
}
.lion{
    color: sienna;
}
.zoo > ul > .lion {
    color: blue;
}
#tiger + li {
    background-color: skyblue;
}
.lion ~ li {
    background-color: orange;
}