body{
    background-color: bisque;
  }
table {
    width: 100%;
}

  
  tr th:last-child{
    color : blue;
  }
  tr th:first-child{
    color: red;
  }
  tr td:last-child{
    color : blue;
  }
  tr td:first-child{
    color: red;
  }
  .holiday{
    color: red;
  }

  table tr th:first-child,
  table tr td:first-child,
  table tr .holiday{
    color: red;
  }