
.circle{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}


@keyframes move{
    0%{
        top: 0; left: 0; 
    }
    25%{
        top: 0; ; left: calc(100% - 100px);
    }
    50%{
        top: calc(100% - 100px); left: calc(100% - 100px);
    }
    75%{
        top: calc(100% - 100px); ; left: 0; 
    }
    100%{
        top: 0; left: 0; 
    }
}