/* font-family : 'Hi Melody' , sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
/* font-family: 'Hi Melody', cursive; */

@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* body{
    font-family: 'TTCrownMychewR';
} */

.google-fonts{
    font-family: 'Hi Melody', cursive;
}

/* font-family: 'East Sea Dokdo', cursive; */
.google-fonts2{
    font-family: 'East Sea Dokdo', cursive;
}

.container .sentences{
    font-weight: 600;
    font-size: 1em;

    text-align: start;

}
