h2 {
  color: #ffe600;
}
.insta {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#ffe600, #ff0080, #db20db);
  position: relative;
}
.white-box {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}
.img-box {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url("./pooh.png");
  background-size: cover;
}
